@model Compass.Security.Application.Services.Accounts.Commands.Recovery.RecoveryCommand

@{
    ViewBag.Title = "Recovery";
}

<form class="js-validate" method="post" asp-controller="Account" asp-action="Recovery">
    <div class="text-center mb-5">
        <h1 class="display-4">Forgot password?</h1>
        <p>Enter the email address you used when you joined and we'll send you instructions to reset your password.</p>
    </div>
    
     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    @if (TempData["message"] != null)
    {
        <div class="form-group text-center">
            <strong>@TempData["message"]</strong>
            <br>
        </div>
    }
    
    <div class="js-form-message form-group">
        <label class="input-label" for="resetPasswordSrEmail" tabindex="0">Your email</label>
        <input type="email" class="form-control form-control-lg" asp-for="EmailOrPhone" id="resetPasswordSrEmail" tabindex="1" placeholder="email@address.com" aria-label="email@address.com" required data-msg="Please enter a valid email address.">
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-primary">Submit</button>

    <div class="text-center mt-2">
        <a class="btn btn-link" asp-action="SignIn" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">
            <i class="tio-chevron-left"></i> Back to Sign in
        </a>
    </div>
</form>