@{
    ViewBag.Title = "Two Step";
}

<form class="js-validate">
  <div class="text-center">
    <div class="mb-4">
      <img class="avatar avatar-xxl avatar-4by3" src="~/svg/illustrations/unlock.svg" alt="Image Description">
    </div>

    <div class="mb-5">
      <h1 class="display-4">2-step Verification</h1>

      <p class="mb-0">We sent a verification code to your email.</p>

      <p>Enter the code from the email in the field below.</p>
    </div>

    <div class="row gx-2 gx-sm-3">
      <div class="col">
        <!-- Form Group -->
        <div class="form-group">
          <input type="text" class="js-masked-input form-control form-control-single-number" name="code1" id="twoStepVerificationSrCodeInput1" placeholder="" aria-label="" maxlength="1" autocomplete="off" autocapitalize="off" spellcheck="false" autofocus
                 data-hs-mask-options='{
                                 "template": "0"
                               }'>
        </div>
        <!-- End Form Group -->
      </div>

      <div class="col">
        <!-- Form Group -->
        <div class="form-group">
          <input type="text" class="js-masked-input form-control form-control-single-number" name="code2" id="twoStepVerificationSrCodeInput2" placeholder="" aria-label="" maxlength="1" autocomplete="off" autocapitalize="off" spellcheck="false"
                 data-hs-mask-options='{
                                 "template": "0"
                               }'>
        </div>
        <!-- End Form Group -->
      </div>

      <div class="col">
        <!-- Form Group -->
        <div class="form-group">
          <input type="text" class="js-masked-input form-control form-control-single-number" name="code3" id="twoStepVerificationSrCodeInput3" placeholder="" aria-label="" maxlength="1" autocomplete="off" autocapitalize="off" spellcheck="false"
                 data-hs-mask-options='{
                                 "template": "0"
                               }'>
        </div>
        <!-- End Form Group -->
      </div>

      <div class="col">
        <!-- Form Group -->
        <div class="form-group">
          <input type="text" class="js-masked-input form-control form-control-single-number" name="code4" id="twoStepVerificationSrCodeInput4" placeholder="" aria-label="" maxlength="1" autocomplete="off" autocapitalize="off" spellcheck="false"
                 data-hs-mask-options='{
                                 "template": "0"
                               }'>
        </div>
        <!-- End Form Group -->
      </div>
    </div>

    <button type="submit" class="btn btn-lg btn-block btn-primary">Verify my account</button>

    <div class="text-center mt-3">
      <p>Haven't received it? <a href="#">Resend a new code.</a></p>
    </div>
  </div>
</form>

