@{
    ViewBag.Title = "Verification";
}

<div class="text-center">
  <div class="mb-4">
    <img class="avatar avatar-xxl avatar-4by3" src="~/svg/illustrations/click.svg" alt="Image Description">
  </div>

  <h1 class="display-4">Verify your email</h1>

  <p class="mb-1">We've sent a link to your email address:</p>

  <span class="d-block text-dark font-weight-bold mb-1">mark@gmail.com</span>

  <p>Please follow the link inside to continue.</p>

  <div class="mt-4 mb-3">
    <a class="btn btn-primary btn-wide" asp-action="SignIn" asp-controller="Account">Skip now</a>
  </div>

  <p>Didn't receive an email? <a href="#">Resend</a></p>
</div>

